<div>
  <h1>XHR Demo</h1>
  <button class="request">GET</button>
  <button class="request">POST</button>
  <button class="request">PUT</button>
  <button class="request">DELETE</button>
  <button class="clear">CLEAR RESULTS</button>
  <br /><br />
  <label ref="url">URL</label>
  <input id="url" value="http://reqr.es/api/users"></input>
  <br /><br />
  <label ref="data">Data</label>
  <textarea id="data"></textarea>
  <br /><br />
  <span>Results</span>
  <div id="results"><div>
<div>
