$o-assets-global-path: '/bower_components/';

.results {
min-height: 100px;
width: 800px;
border: 1px solid #000000;
}

input,
textarea {
width: 750px;
}

textarea {
height: 100px;
}

label {
vertical-align: top;
}
